<h1>LISTA DE PRODUCTOS EN TIEMPO REAL:</h1>
<ul id="products">
    {{#each products}}
        <li>
        <h2>PRODUCTO: {{this.title}}</h2>
        <h3>DESCRIPCION: {{this.description}}</h3>
        <p>PRECIO: ${{this.price}}</p>
        <p>CODIGO: {{this.code}}</p>
        <p>STOCK: {{this.stock}}</p>
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproduct.js"></script>